.horizontal-radio {
    margin-right: 10px;
    cursor: pointer;
}

.vertical-align-radios {
    margin-top: 5px;
}

.data-table .user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.content-wrapper.full-width {
    margin-left: 0;
}

.products-list .product-img i.fa {
    font-size: 20px;
    top: 5px;
    position: relative;
}

.products-list .product-info {
    margin-left: 27px;
}

.direct-chat-text ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.contacts-list-info {
    margin-left:  0;
}
